/**
 * Basic typography style for copy text
 */

html {}

body {
    

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font: {
        family: 'Arial Unicode MS';
    }
    text-rendering: optimizeLegibility;
}