.l-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	margin: 30px 0 30px 0;
	color: white;
    text-shadow: 
    	-2px 0 black, 
    	0 2px black, 
    	2px 0 black, 
    	0 -2px black;
}

.subtitles {
	font-size: 50px;
	text-align: center;
	 white-space: pre;
}